body
{
    background-color: red;
}
@media (max-width: 376px) {
    .title {
        color: white;
        font-size: 20px;
        padding-top: 2vh;
        padding-bottom: 2vh;
        font-family: 'Bentham', serif;
    }

    p {
        padding-left: 5vw;
        padding-right: 5vw;
        font-family: 'Cabin', sans-serif;
    }
}
@media (min-width: 376px) {
    .title {
        color: white;
        font-size: 25px;
        padding-top: 10vh;
        padding-bottom: 10vh;
        font-family: 'Bentham', serif;
    }

    p {
        padding-left: 25vw;
        padding-right: 25vw;
        font-family: 'Cabin', sans-serif;
    }
}

