.container {
   /* display: flex;
    justify-content: space-between;
    flex-direction:row;
    width:100%;
    height:100%;*/
}

.bars span {
    display: inline-block;
    min-height: 115px;
    padding: 0px;
    margin: 0px;
}

#red {
    background: red;
    padding: 0px;
    margin: 0px;
    height: 115px;
}

#orange {
    background: orange;
    padding: 0px;
    margin: 0px;
}

#yellow {
    background: yellow;
    padding: 0px;
}

#green {
    background: green;
    padding: 0px;
}

#blue {
    background: blue;
    padding: 0px;
}

#purple {
    background: purple;
    padding: 0px;
}

.left{
    width: 100vw;
    transition: width 2s;
}
.right {
    width: 100vw;
    transition: width 2s;
}
