body {
    margin: 20px;
    background-color: darkslategray;
    display: flex;
}
#animBackground {
    z-index:1;
    position:absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    background: red;
    width: 100vw;
    height: 300vh;
    transition: width 3s;
}
h1, h3 {
    font-family: 'Bubblegum Sans', sans-serif;
    color: black;
}

p {
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
}

div {
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    text-align: center;
}

.head {
    padding: 0px;
    background-color: tomato;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: -1;
}

a {
    color: white;
}
#cycleText {
    padding: 10px;
    color: white;
    font-size: 24px;
}
@media(min-width: 600px) {
    img {
        width: 45%;
        padding: 10px;
    }
}

@media(max-width: 450px) {
    img {
        width: 98%;
        padding: 5px;
    }
}
.rectangle:hover {
    fill: yellow;
}
